extends layout

block content
  p Welcome to Burrito Time. This simple tool will let you know if it is time to enjoy a tasty burrito. When the time comes, you can use our order page to start the process!