extends layout

block content
  h4 Is it burrito time?
  p Our expert engineers have been hard at work on this very question. The answer is yes, it is burrito time.
  div
    a(class='btn btn-primary', href='/order') Order Now
