doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', crossorigin='anonymous')
  body
    block content
